html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: $background-color;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0 0 .4em;
}

input, textarea {
    color: $text-color;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.content-wrapper {
    position: relative;
    overflow: hidden;
    transition: .5s;
    box-sizing: content-box;
}

.main-content {
    padding-bottom: 10px;
}

.row {
    margin-bottom: 0;
    padding-bottom: 20px;
}

.tabs {
    border-bottom: 1px solid black;
}

.card {
    display: block;
}

.primary {
    background-color: $primary-color;
}

.secondary {
    background-color: $secondary-color;
}

.datepicker-modal {
    color: $background-color;

    .select-dropdown {
        color: $background-color
    }
}

.datepicker-controls .select-month input {
    width: 78px;
}

.button-row {
    text-align: right;
}