header {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 997;
    }
}

.header-space {
    height: 64px;
    margin-bottom: 10px;
    box-sizing: content-box;
    background: $primary-color;
}