@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@inject IValueHelper Value
@model GenericViewModel

@{
    Value.Remove(Model, "Template");
}

<div class="row">
    @await Render.Values(Model)
</div>
