@using Website.Common.Viewmodels
@using Website.Common.Models
@inject IValueHelper Value
@model GenericViewModel

@{
    Value model = Value.Get(Model, "Model");
    Value.CreateModel(model);
    Value settings = Value.Get(Model, "Settings");

    List<Value> values = model.Values ?? new List<Value>();

    //Value attributes = Value.Get(Model, "Modify entry");
    //Value settings = Value.Get(Model, "Settings");
    //if (attributes != null && attributes.Values == null)
    //{
    //    attributes.Values = new List<Value>();
    //}
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>@await Render.Value(Model, "Title")</h2>
        </div>
    </div>

    @if (settings != null)
    {
        if (model != null)
        {
            Value template = Value.Get(model, "Child template");
            Value.Remove(model, template);
            template.Group.Label = "Template";

            @using (Html.BeginForm(null, null, new { }, FormMethod.Post, true, new { action = "/create/" }))
            {
                <div class="form-content">
                    @Html.Hidden(settings.String + ".ParentId", model.Int)

                    @foreach (Value value in values)
                    {
                        Value.Add(value, settings);
                        Value.Add(value, template);
                        @await Render.Value(value, Model.Options);
                    }

                    <div class="row">
                        <div class="col s12 right-align">
                            @await Render.SubmitButton("Create", "add")
                        </div>
                    </div>
                </div>
            }
        }
    }
    else
    {
        if (settings == null)
        {
            <div class="row">
                <div class="col s12 error">
                    settings missing
                </div>
            </div>
        }
    }

    @*if (attributes != null && settings != null)
        {
            @using (Html.BeginForm(null, null, new { }, FormMethod.Post, true, new { action = "/cystem/edit-page/" }))
            {
                attributes.Values.Add(settings);

                @Html.Hidden(settings.String + ".ParentId", 169)

                @await Render.Value(attributes, Model.Options)

                <div class="row">
                    <div class="col s12 right-align">
                        @await Render.SubmitButton("Create", "add")
                    </div>
                </div>
            }
        }
        else
        {
            if (settings == null)
            {
                <div class="row">
                    <div class="col s12 error">
                        settings missing
                    </div>
                </div>
            }
        }*@
</div>