@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using Website.Common.Enums
@using Attribute = Website.Common.Models.EAV.Attribute
@model GenericViewModel
@inject IValueHelper Value

@{
    Value template = Value.Get(Model, "Template");
    Value newValue = Value.Get(Model, "New");
    if (newValue != null)
    {
        newValue.Id = 0;
        newValue.AttributeId = 0;
        newValue.GroupId = Model.Id;
    }
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>@await Render.Value(Model, "Title")</h2>
        </div>
    </div>

    @if (newValue != null) {
        @using (Html.BeginForm(null, null, new { }, FormMethod.Post, true, new { action = "/cystem/edit-page/" }))
        {
            @await Render.Value(newValue, Model.Options);

            <div class="row">
                <div class="col s12 right-align">
                    @await Render.SubmitButton("Create", "add")
                </div>
            </div>
        }
    }
</div>
