@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using Website.Common.Enums
@using ValueType = Website.Common.Enums.ValueType
@model GenericViewModel

<div class="row">
    @await Render.Value(Model, DisplaySetting.Edit)
</div>