@using Website.Common.Viewmodels
@using Website.Common.Enums
@model GenericViewModel

<div class="modal modal-template component hide" data-type="@ComponentTarget.Modal">
    <div class="content">
    </div>
</div>