@using Website.Common.Enums
@using Website.Common.Models.EAV
@using Website.Common.Viewmodels
@using ValueType = Website.Common.Enums.ValueType
@model GenericViewModel
@inject IValueHelper Value

@{
    Value reference = Model.Value;
    Value target = reference?.RelatedValue;
    Value link = Value.Get(Model, "Link");
    string uri = link?.RelatedValue?.SerializedString;
}

@if (target != null)
{
    <li class="collection-item">
        <a class="ajax-get btn-flat waves-effect" href="@target.SerializedString">@await Render.Value(target, "Title", Model.Options)</a>
        <div class="secondary-content">
            @await Render.EditButton(uri, new { Id = target.Id }, "")
            @await Render.DeleteModalButton(target, "", Model.Options, ElementAction.None)
        </div>
    </li>
}