@using Website.Common.Viewmodels
@using Website.Common.Enums
@model GenericViewModel

<div class="overlay-template overlay-wrapper hide">
    <div class="overlay z-depth-2">
        @await Render.Button(null, "", "close", Model.Options, action: ComponentAction.Close, cssClasses: "link close btn-floating primary waves-effect", link: false)

        <div class="component-wrapper" data-type="@ComponentTarget.Overlay">
        </div>
    </div>
</div>