@using Website.Common.Enums
@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@model GenericViewModel
@inject IValueHelper Value

@{
    Value createPage = Value.Get(Model, "Link")?.RelatedValue;
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>@await Render.Value(Model, "Title")</h1>
        </div>
    </div>

    @if (createPage != null)
    {
        <div class="row">
            <div class="col s12">
                @await Render.FloatingButton(createPage.SerializedString, "add", null, Model.Options)
            </div>
        </div>
    }
    
    <div class="row">
        <ul class="collection z-depth-1">
            @await Render.Value(Model, "Group")
        </ul>
    </div>
</div>
