@using Website.Common.Viewmodels
@using Website.Common.Models
@using Website.Common.Enums
@model GenericViewModel
@inject IGroupHelper GroupHelper

@{
    List<Group> groups = GroupHelper.GetGroups();
}
<div class="container">
    <ul class="collection">
        @foreach (Group group in groups)
        {
            <li class="collection-item">
                <button class="link btn-simple" data-action="@ComponentAction.Result" data-value="@group.Id">@group.Label</button>
            </li>
        }
    </ul>
</div>