@using Website.Common.Viewmodels
@using Website.Common.Models
@using ValueType = Website.Common.Enums.ValueType
@model GenericViewModel
@inject IGroupHelper GroupHelper

@{
    List<Group> groups = GroupHelper.GetGroups();
}
<div class="container">
    <ul class="collection">
        @foreach (Group group in groups)
        {
            <li class="collection-item">@group.Label</li>
        }
    </ul>
</div>