@using Website.Common.Viewmodels
@inject IValueHelper Value
@model GenericViewModel

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>@await Render.Value(Model, "Title")</h1>

            <p>
                @await Render.Value(Model, "Text")
            </p>
        </div>
    </div>
</div>

@Cystem.Test(
@<div class="container">
    <div class="row">
        <div class="col s12">@item.String</div>
    </div>
</div>)