*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
Website/[Dd]ebug/
Website/[Dd]ebugPublic/
Website/[Rr]elease/
Website/[Rr]eleases/
Website/x64/
Website/x86/
Website/build/
Website/bld/
Website/[Bb]in/
Website/[Oo]bj/
Website/[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

node_modules/
package-lock.json

#compiled css
Website/wwwroot/css/

#compiled js
Website/wwwroot/js/
Website/wwwroot/src/js/**/*\.js
Website/wwwroot/src/js/**/*\.map