@import 'variables';
@import 'mixins';

.component {
    &.show {
        outline: 4px solid $primary-color;

        @include showOutline();
    }
}

.content {
    transition: .7s;
    background: $background-color;
    opacity: 1;

    &.fade-out {
        position: absolute;
        width: 100%;
        opacity: 0;
    }

    &.fade-in {
        opacity: 0;
    }

    .loader {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.chart-wrapper {
    position: relative;
    max-height: 600px;
}