@import 'variables';

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;

    .content {
        padding-top: 20px;
        background: $primary-color;
    }
}

.footer-space {
    height: 64px;
}