@import 'variables';

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: .3s;
    background-color: rgba(50,50,50,.2);
    cursor: pointer;
    z-index: 1000;

    .close {
        position: absolute;
        top: 0;
        left: -20px;
        margin: 11px 0 0;
        font-size: 2em;

        i {
            font-size: 2rem;
        }
    }

    .component {
        height: 100%;
    }

    .content {
        position: relative;
        height: 100%;
        padding-top: 20px;
        overflow-x: auto;
    }

    .overlay-content  {
        left: 0;
        margin-left: 10vw;
        padding: 0;
        transition: .4s;
        background-color: $background-color;
        cursor: auto;
        overflow: visible;
    }

    &.fade {
        background-color: transparent;

        .overlay-content {
            left: 100%;
        }
    }
}
