@using Website.Common.Viewmodels
@inject IGroupHelper AttributeHelper
@model GenericViewModel

<li class="collection-item related-attribute">
    @if (Model.Value.RelatedGroup != null)
    {
        <div class="row">
            <div class="col s12 l12">
                @Model.Value.RelatedGroup.Label
            </div>
        </div>
    }

    @{ await Cystem.DisplayChilds(Model.Value); }
</li>