@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using ValueType = Website.Common.Enums.ValueType
@model GenericViewModel

@{ 
    bool isRelated = Model.Value.Type == ValueType.RelatedValue;
    Value link;

    if (isRelated)
    {
        link = Model.Value.RelatedValue;
    }
    else
    {
        link = Model.Value;
    }

    string uri = isRelated ? link.SerializedString : link.String;
}

@if (link != null)
{
    <div class="col l4 m6 s12">
        <a href="@uri" class="ajax-get card grey darken-3">
            <div class="card-content white-text">
                <h3 class="card-title">@Value.Display(link, "Title")</h3>
                <p>
                    @Value.Display(link, "Description")
                </p>
            </div>
        </a>
    </div>
}