@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using Website.Common.Enums
@model GenericViewModel

@{
    Value source = Value.Get(Model, "Param");
    Value fields = Value.Get(Model, "Group");
}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h2>@Value.Display(Model, "Title")</h2>
        </div>
    </div>

    @if (fields != null)
    {
        @using (Html.BeginForm(null, null, new { }, FormMethod.Post, true, new { action = "/cystem/edit-page/" }))
        {
            Value.MergeEditorValues(source, fields);
            await Value.Render(fields);

            <div class="row">
                <div class="col s12 right-align">
                    @if (source.RelatedValue == null)
                    {
                        @Html.SubmitButton("Create", "add")
                    }
                    else
                    {
                        @Html.DeleteButton("/delete/", null, "Delete", ElementAction.Close, new { @class = "btn-outline" })
                        @Html.SubmitButton("Update")
                    }
                </div>
            </div>
        }
    }
</div>
