@using Website.Common.Viewmodels
@model GenericViewModel

<div id="modal" class="modal-template modal">
    <div class="content-wrapper">
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>