@using Website.Common.Enums
@using Website.Common.Models.EAV
@using Website.Common.Viewmodels
@using ValueType = Website.Common.Enums.ValueType
@model GenericViewModel

@{ 
    Value reference = Model.Value;
    Value target = reference?.RelatedValue;
    Value link = Value.Get(Model, "Link");
    string uri = link?.RelatedValue?.SerializedString;
}

@if (target != null)
{
    <tr>
        <td>@Value.Display(target, "Title")</td>
        <td>@Html.EditButton(uri, new { Id = target.Id }, "")</td>
        <td>@Html.DeleteButton("/delete/", new { Id = target.Id }, "")</td>
    </tr>
}