@using Website.Common.Viewmodels
@model GenericViewModel

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>@Html.Value(Model, "Title")</h1>

            <p>
                @Html.Value(Model, "Text")
            </p>
        </div>
    </div>
</div>