@using Website.Common.Viewmodels
@using Website.Common.Enums
@model GenericViewModel


@switch (Model.Options)
{
    case DisplaySetting.Display:
        <div class="container">
            <ul class="collection value-collection">
                @await Render.Value(Model)
            </ul>
        </div>
        break;

    case DisplaySetting.Alter:
        <div class="container">
            <ul class="collection value-collection">
                @await Render.Value(Model)
            </ul>
        </div>
        break;

    default:
        @await Render.Value(Model);
        break;
}