@using Website.Common.Viewmodels
@using Website.Common.Enums
@model GenericViewModel

<button class="ajax-get btn-flat waves-effect" href="/cystem/edit/?id=@Model.Value.Id" data-target="@ComponentType.Modal">@Model.Value.String</button>