@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using Website.Common.Enums
@using ValueType = Website.Common.Enums.ValueType
@model GenericViewModel

<button class="ajax-get btn-flat waves-effect" href="/cystem/edit/?id=@Model.Value.Id" data-target="@ComponentTarget.Modal">@Model.Value.String</button>