@using Website.Common.Enums
@using Website.Common.Viewmodels
@model ActionViewModel

<div class="content" data-url="@Model.Url" data-action="@ComponentAction.LoadSilent" data-target="@ComponentTarget.Self">
    @RenderBody()
</div>