@using Website.Common.Models.EAV
@using Website.Common.Enums
@model Value

<li class="collection-item new">
    <div class="row">
        <div class="col s12">
            @await Render.CreateButton("/cystem/create-value/", new { Id = Model.Id }, "", target: ComponentType.Overlay, htmlAttributes: new { @class = "right" })
        </div>
    </div>
</li>