@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using Website.Common.Enums
@model GenericViewModel

<li class="collection-item int">
    <div class="row">
        <div class="col s2 l1">@Model.Value.Attribute.Label:</div> <div class="col s10 l11">@Model.Value.Int</div>
        <div class="col s2 l1">
            @await Render.EditButton("/cystem/edit-value/", new { id = Model.Value.Id }, "", target: ComponentTarget.Overlay, htmlAttributes: new { @class = "right" })
        </div>
    </div>

    @{ await Cystem.DisplayChilds(Model.Value, DisplaySetting.Alter); }
</li>