@using Website.Common.Viewmodels
@using Website.Common.Models.EAV
@using Website.Common.Enums
@model GenericViewModel

<li class="collection-item serialized-string">
    <div class="row">
        <div class="col s2 l1">@Model.Value.Attribute.Label:</div>
        <div class="col s8 l10">@Model.Value.SerializedString</div>
        <div class="col s2 l1">
            @await Render.EditButton("/cystem/edit-value/", new { id = Model.Value.Id }, "", "edit", Model.Options, ElementAction.Overlay, new { @class = "right" })
        </div>
    </div>

    @{ await Cystem.DisplayChilds(Model.Value, DisplaySetting.Alter); }
</li>