@using Website.Common.Viewmodels
@using Website.Common.Enums
@using Attribute = Website.Common.Models.EAV.Attribute;
@model AttributeOverviewViewModel

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Attributes overview</h1>

            @Render.FloatingButton(Url.Action("create", "attribute", new { Area = "Cystem" }), "add")

            <table>
                <tbody>
                    @foreach (Attribute attribute in Model.Attributes)
                    {
                    <tr>
                        <td>@attribute.Id</td>
                        <td>@attribute.Label</td>
                        <td>@await Render.EditButton("/cystem/attribute/edit/", new { Id = attribute.Id }, "")</td>
                        <td>@await Render.DeleteModalButton("/cystem/attribute/delete/", new { Id = attribute.Id }, "", "delete", DisplaySetting.Render, ElementAction.None)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>